@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Light Mode Neutral Primitives
Neutral 100  oklch(0.95 0.002 235)  #EAEBEC
Neutral 200  oklch(0.94 0.004 230)  #E7EAEB
Neutral 300  oklch(0.93 0.003 235)  #E4E5E6
Neutral 400  oklch(0.87 0.003 235)  (borders, inputs)
Neutral 500  oklch(0.72 0.004 235)  (disabled text)
Neutral 600  oklch(0.56 0.006 235)  #7A7E80
Neutral 700  oklch(0.42 0.006 235)  (secondary headings)
Neutral 800  oklch(0.28 0.004 235)  (primary text)
Neutral 900  oklch(0.18 0.002 235)  (high-contrast text)
*/


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--app-background);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;

  /* Neutral scale primitives */
  --neutral-100: oklch(0.95 0.002 235);
  --neutral-200: oklch(0.94 0.004 230);
  --neutral-300: oklch(0.93 0.003 235);
  --neutral-400: oklch(0.87 0.003 235);
  --neutral-500: oklch(0.72 0.004 235);
  --neutral-600: oklch(0.56 0.006 235);
  --neutral-700: oklch(0.42 0.006 235);
  --neutral-800: oklch(0.28 0.004 235);
  --neutral-900: oklch(0.18 0.002 235);

  --app-background: var(--neutral-200);
  --background: rgba(255, 255, 255);
  --foreground: var(--neutral-900);

  --card: rgba(255, 255, 255, 0.87);
  --card-foreground: var(--neutral-900);

  --popover: oklch(98.5% 0.001 106.423 / 90%);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--neutral-900);
  --primary-foreground: var(--neutral-100);
  --secondary: var(--neutral-300);
  --muted: var(--neutral-100);
  --accent: var(--neutral-100);

  --muted-foreground: var(--neutral-600);

  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--neutral-400);
  --input: var(--neutral-400);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: color-mix(in srgb, var(--background) 80%, transparent);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}


@theme inline {

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-app-background: var(--app-background);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {

  --app-background: var(--neutral-900);
  --background: var(--neutral-900);
  --foreground: var(--neutral-100);

  --card: var(--neutral-800);
  --card-foreground: var(--neutral-100);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: var(--neutral-800);
  --muted: var(--neutral-800);
  --accent: var(--neutral-800);

  --muted-foreground: var(--neutral-500);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: color-mix(in srgb, var(--neutral-900) 97%, transparent);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }

}

.noise {
  background-image: url('assets/Noise.png');
  background-repeat: repeat;
  background-size :contain;
  opacity: .16;
}

.noise-dark {
  background-image: url('assets/Noise-dark.png');
  background-repeat: repeat;
  background-size :contain;
  opacity: .3;
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

button {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Geist, sans-serif;
}
